

  
<!DOCTYPE html>
<html>

<div class="center jumbotron">
    <body class="undefined">
     
 
        <div id="navigation" class="navbar" style="background:none">
              <h1 class="text-uppercase">Rkraftcomua </h1>

              <% if I18n.locale == :en %>
              <%= button_to url_for(locale: :ru) do %><class="btn btn-outline-secondary mr-1">RU<i class="fa fa-users"></i></class="btn>
             <% end %> 
             <% else %>
            <%= button_to url_for(locale: :en) do %><class="btn btn-outline-secondary mr-1">EN</span><i class="fa fa-users"></i></class="btn>
             <% end %> 
             <% end %>
          </div>

       

      
     <style>
  .carousel-inner > .carousel-item > img,
  .carousel-inner > .carousel-item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
    
    <!-- *** LOGIN MODAL END ***-->
    <!-- *** SLIDER ***-->
    <div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ul>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path 'box1.jpg' %>" alt="lunchbox">
      <div class="carousel-caption">
        <h3><%= t('.carousel1') %></h3>
      </div>
    </div>

    <div class="carousel-item">
      <img src="<%= asset_path 'suchiboxx.jpg' %>" alt="clamshell">
      <div class="carousel-caption">
        <h3><%= t('.carousel2') %></h3>
      </div>
    </div>

    <div class="carousel-item">
      <img src="<%= asset_path 'shelforg.jpg' %>" alt="shelforganizer">
      <div class="carousel-caption">
        <h3><%= t('.carousel3') %></h3>
      </div>
    </div>
  </div>
    
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<script>
$(document).ready(function(){
    // Activate Carousel
    $("#carousel").carousel();
    
    // Enable Carousel Indicators
    $(".item1").click(function(){
        $("#carousel").carousel(0);
    });
    $(".item2").click(function(){
        $("#carousel").carousel(1);
    });
    $(".item3").click(function(){
        $("#carousel").carousel(2);
    });

    
    // Enable Carousel Controls
    $(".left").click(function(){
        $("#carousel").carousel("prev");
    });
    $(".right").click(function(){
        $("#carousel").carousel("next");
    });
});
</script>


    <!-- /#slider-->
    <!-- *** SLIDER END ***-->
    <div id="all">
       <div id="content">
        <div class="container">
          <!-- *** ADVANTAGES ***-->
          <div id="advantages">
            <div class="box text-center">
              <h3 class="text-uppercase"><%= t('.aboutus') %></h3>
              <p><%= t('.p_about') %></p>
              <div class="same-height-row row">
                <div class="col-md-3 col-6 justify-content-md-center align-items-md-center">
                  <div class="box no-border d-flex justify-content-center align-items-center">
                    <div class="icon"><i class="fa fa-heart-o"></i></div>
                    <h4><a href="<%= services_path %>"><%= t('.toc1') %></a></h4>
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="box no-border d-flex justify-content-center align-items-center">
                    <div class="icon"><i class="fa fa-tags"></i></div>
                    <h4><a href="<%= catalog_path %>"><%= t('.toc2') %></a></h4>
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="box no-border d-flex justify-content-center align-items-center">
                    <div class="icon"><i class="fa fa-send-o"></i></div>
                    <h4><a href="<%= services_path %>"><%= t('.toc3') %></a></h4>
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="box no-border d-flex justify-content-center align-items-center">
                    <div class="icon"><i class="fa fa-refresh"></i></div>
                    <h4><a href="<%= contacts_path %>"><%= t('.toc4') %></a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /#advantages-->
          <!-- *** ADVANTAGES END ***-->
          <div class="box text-center">
            <h3 class="text-uppercase"><%= t('.2_gallery') %></h3>
            <h4 class="text-muted"><span class="accent"><%= t('.2_gallery_p') %></h4>
          </div>
          <div class="row products">
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= gallery_path %>"><img src="<%= asset_path 'title.png' %>" alt="Rkraft" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="#"><%= t('.popup') %></a></h3>
                  <p class="price"><%= t('.2price') %></p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'shelftalkers.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal-1" class="btn btn-outline-white-secondary btn-sm"><%= t('.qview') %></a></div>
                </div>

                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.shelf') %></a></h3>
                  <p class="price">
                    <del><%= t('.1price') %></del><%= t('.1pricec') %>
                  </p>
                </div>
                <!-- /.text-->
                <div class="ribbon sale">
                  <div class="theribbon">SALE</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'box1.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal-2" class="btn btn-outline-white-secondary btn-sm"><%= t('.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.lunch') %></a></h3>
                  <p class="price"><%= t('.3price') %></p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'blp.png' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal-3" class="btn btn-outline-white-secondary btn-sm"><%= t('.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.clam') %></a></h3>
                  <p class="price"><%= t('.4price') %></p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'shelforg.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal-4" class="btn btn-outline-white-secondary btn-sm"><%= t('.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="#"><%= t('.mold') %></a></h3>
                  <p class="price">
                    <del><%= t('.5price') %></del><%= t('.5pricec') %>
                  </p>
                </div>
                <!-- /.text-->
                <div class="ribbon sale">
                  <div class="theribbon">SALE</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'suchiboxx.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal-5" class="btn btn-outline-white-secondary btn-sm"><%= t('.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="#"><%= t('.suchi') %></a></h3>
                  <p class="price"><%= t('.8price') %></p>
                </div>
                <!-- /.text-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'disacr.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal-6" class="btn btn-outline-white-secondary btn-sm"><%= t('.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="<%= products_path %>"><%= t('.display') %></a></h3>
                  <p class="price"><%= t('.6price') %></p>
                </div>
                <!-- /.text-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'cosmetics.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal-7" class="btn btn-outline-white-secondary btn-sm"><%= t('.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.stand') %></a></h3>
                  <p class="price"><%= t('.7price') %></p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <!-- /.col-md-4-->
            <div id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <div class="row quick-view product-main">
                      <div class="col-sm-6">
                        <div class="quick-view-main-image"><img src="<%= asset_path 'title.png' %>" alt="" class="img-fluid"></div>
                        <div class="ribbon ribbon-quick-view sale">
                          <div class="theribbon">SALE</div>
                          <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="ribbon ribbon-quick-view new">
                          <div class="theribbon">NEW</div>
                          <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="row thumbs">
                          <div class="col-4"><a href="<%= asset_path 'box5.jpg' %>" class="thumb"><img src="<%= asset_path 'box5.jpg' %>"" alt="" class="img-fluid"></a></div>
                          <div class="col-4"><a href="<%= asset_path 'box1.jpg' %>" class="thumb"><img src="<%= asset_path 'box1.jpg' %>" alt="" class="img-fluid"></a></div>
                          <div class="col-4"><a href="<%= asset_path 'suchiboxx.jpg' %>" class="thumb"><img src="<%= asset_path 'suchiboxx.jpg' %>" alt="" class="img-fluid"></a></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <h2><%= t('.popup') %></h2>
                        <p class="text-muted text-small text-center"><%= t('.popup_text') %></p>
                        <div class="box">
                          <form>
                            <div class="sizes">
                              <h3><%= t('.sizes') %></h3>
                              <label for="size_s"><a href="#">300*800</a>
                                <input id="size_s" type="radio" name="size" value="s" class="size-input">
                              </label>
                              <label for="size_m"><a href="#">1200*1200</a>
                                <input id="size_m" type="radio" name="size" value="m" class="size-input">
                              </label>
                              <label for="size_l"><a href="#">610*750</a>
                                <input id="size_l" type="radio" name="size" value="l" class="size-input">
                              </label>
                            </div>
                            <p class="price"><%= t('.2price') %></p>
                            <p class="text-center"><a href="<%= catalog_path %>" class="btn btn-outline-primary"><%= t('products.index.add_html') %></a></p>
                          </form>
                        </div>
                        <!-- /.box-->
                        <div class="quick-view-social">
                          <h4>Show it to your friends</h4>
                          <p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.modal-->
           <!-- /.modal-dialog -->
          <div id="product-quick-view-modal-1" tabindex="-1" 
           role="dialog" aria-hidden="false" class="modal fade">
           <%= render 'modal2' %>
          </div>
            <!-- /.modal-dialog -->

          <div id="product-quick-view-modal-2" tabindex="-1" 
           role="dialog" aria-hidden="false" class="modal fade">
           <%= render 'modal3' %>
          </div>
            <!-- /.modal-dialog -->
          <div id="product-quick-view-modal-3" tabindex="-1" 
           role="dialog" aria-hidden="false" class="modal fade">
           <%= render 'modal4' %>
          </div>
           <!-- /.modal-dialog -->
          <div id="product-quick-view-modal-4" tabindex="-1" 
           role="dialog" aria-hidden="false" class="modal fade">
           <%= render 'modal5' %>
          </div>
          <!-- /.modal-dialog -->
          <div id="product-quick-view-modal-5" tabindex="-1" 
           role="dialog" aria-hidden="false" class="modal fade">
           <%= render 'modal6' %>
          </div>
          <!-- /.modal-dialog -->
          <div id="product-quick-view-modal-6" tabindex="-1" 
           role="dialog" aria-hidden="false" class="modal fade">
           <%= render 'modal7' %>
          </div>
          <!-- /.modal-dialog -->
          <div id="product-quick-view-modal-7" tabindex="-1" 
           role="dialog" aria-hidden="false" class="modal fade">
           <%= render 'modal8' %>
          </div>
          <!-- /.products-->
        </div>
        <!--
        *** PROMO BAR ***
        _________________________________________________________
        -->
        <div class="bar background-image-fixed-1 no-mb color-white text-center">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="icon"><i class="fa fa-file-code-o"></i></div>
                <h1><%= t('.seemore') %></h1>
                <p class="lead"><%= t('.chocolate') %></p>
                <p class="text-center"><a href="<%= gallery_path %>" class="btn btn-outline-white-primary"><%= t('.2_gallery_s') %></a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- *** PROMO BAR END ***-->
        <div class="container">
          <!--
          *** BLOG HOMEPAGE ***
          _________________________________________________________
          -->
          <div class="box text-center">
            <h3 class="text-uppercase"><%= t('.blog') %></h3>
            <p class="text-italic text-large"><%= t('.socialm') %><span class="accent"><a href="https://www.facebook.com/RkraftManufacturing/"><%= t('.socialc') %></a></span></p>
          </div>
          <div id="blog-homepage" class="row">
            <div class="col-sm-6">
              <div class="post">
                <h4><a href="#"><%= t('.trade') %></a></h4>
                <p class="author-category">For <a href="#"><%= t('layouts.application.catalog') %></a> in <a href="">Our style</a></p>
                <hr>
                <p class="intro"><%= t('.tradeblog') %></p>
                <p class="read-more"><a href="<%= acryllic_path %>" class="btn btn-outline-primary"><%= t('.read') %></a></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="post">
                <h4><a href="#"><%= t('.package') %></a></h4>
                <p class="author-category">For <a href="<%= clamshells_path %>"><%= t('layouts.application.clamshells') %></a> in <a href="">About Us</a></p>
                <hr>
                <p class="intro"><%= t('.package_p') %></p>
                <p class="read-more"><a href="<%= clamshells_path %>" class="btn btn-outline-primary"><%= t('.read') %></a></p>
              </div>
            </div>
          </div>
          <!-- /#blog-homepage-->
          <!-- *** BLOG HOMEPAGE END ***-->
        </div>
      </div>
    </div>
    <div id="all"> 
      <div id="content">
        <div class="container">
        </div>
      </div>
      <!-- *** FOOTER ***-->
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <h4><%= t('.pages') %></h4>
              <ul>
                <li><a href="<%= contacts_path %>"><%= t('.aboutus') %></a></li>
                <li><a href="<%= contacts_path %>"><%= t('.addresses') %></a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="<%= contacts_path %>"><%= t('.contactus') %></a></li>
              </ul>
             
              <h4><%= t('.user_section') %></h4>
              <ul>
                <li><a href="<%= new_user_session_path %>"><%= t('layouts.application.sign_up') %></a></li>
                <li><a href="<%= new_user_registration_path %>"><%= t('layouts.application.log_in') %></a></li>
              </ul>
            
            </div>
            <!-- /.col-lg-3-->
                      <h3><%= t('.catalog') %></h3>
                      <ul>
                        <li><a href="<%= acryllic_path %>"><%= t('layouts.application.acryllic') %></a></li>
                        <li><a href="<%= racks_path %>"><%= t('layouts.application.metal') %></a></li>
                        <li><a href="<%= mold_path %>"><%= t('layouts.application.mold') %></a></li>
                        <li><a href="#"><%= t('layouts.application.clamshells') %></a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                      <h3><%= t('layouts.application.additional') %></h3>
                      <ul>
                        <li><a href="<%= moldshell_path %>"><%= t('layouts.application.moldshell') %></a></li>
                        <li><a href="#"><%= t('layouts.application.lighting') %></a></li>
                        <li><a href="<%= moldshell_path %>"><%= t('layouts.application.shelftalkers') %></a></li>
                        <li><a href="#"><%= t('layouts.application.accesories') %></a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                      <h3><%= t('layouts.application.services') %></h3>
                      <ul>
                        <li><a href="<%= services_path %>"><%= t('layouts.application.design') %></a></li>
                        <li><a href="<%= services_path %>"><%= t('layouts.application.constructing') %></a></li>
                        <li><a href="<%= services_path %>"><%= t('layouts.application.3dmodelling') %></a></li>
                        <li><a href="<%= services_path %>"><%= t('layouts.application.consulting') %></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            <!-- /.col-lg-3-->
           
              <h4><%= t('.subscription') %></h4>
            </div>
              <div class="col-lg-3 col-md-6">
              <div class="form-holder">
             <%= form_for(@subscription, path: '/subscriptions', method: :post) do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, placeholder: t('.subsmail') %>
                  <%= f.button t('.subscribe'), class: 'submit', type: 'submit' %>
                  
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- /.col-lg-3-->
</div>

    </div>

  </body>
</html>
