
<!DOCTYPE html>
<html>
  <head>
  <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 

      <%= stylesheet_link_tag 'carousel.css', media: 'print, screen' %>
  <%= javascript_include_tag('jquery.js') %>
  <%= javascript_include_tag('jquery.min.js') %>
  <%= javascript_include_tag('bootstrap.js') %>
  <%= javascript_include_tag('carousel.js') %>
  <%= javascript_include_tag('jquery_ujs.js') %>

    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
  
    <!-- Google fonts - Montserrat and Merriweather-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:400,400italic" rel="stylesheet" type="text/css">
  </head>
 <!-- Font Awesome css-->
  <body>
    <header>


   <!-- *** NAVBAR *** -->
    <nav class="navbar navbar-light fixed-top navbar-expand-lg yamm justify-content-between">

                  <div class="container"><a href="<%= home_path %>" class="navbar-brand home"><img src="<%= asset_path 'logo_rkraft.jpg' %>" alt="Rkraft logo" class="d-none d-md-inline-block"><span class="sr-only">Rkraftcomua - homepage</span></a>

     
          <div class="navbar-nav mr-auto">
            <div class="nav-item active dropdown normal-dropdown"><a id="homeDropdown" href="<%= home_path %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Home</a>
              <div aria-labelledby="homeDropdown" class="dropdown-menu"><a href="<%= home_path %>" class="dropdown-item">Home - default</a><a href="<%= catalog_path %>" class="dropdown-item">Home - intro image</a><a img src="<%= asset_path 'title.png' %>" class="dropdown-item">Home - fullscreen slider <span class="badge badge-success">New</span></a></div>
            </div>
            <div class="nav-item dropdown yamm-fw"><a href="<%= 'clamshells' %>" data-toggle="dropdown" class="nav-link dropdown-toggle"><%= t('.menu') %><b class="caret"></b></a>
              <div class="dropdown-menu">
                <div class="yamm-content">
                  <div class="row">
                    <div class="col-lg-3 d-none d-lg-inline-block"><img src="<%= asset_path 'disacr.jpg' %>" alt="" class="img-fluid"></div>
                    <div class="col-sm-4 col-lg-3">
                      <h3><%= t('.catalog') %></h3>
                      <ul>
                        <li><a href="<%= acryllic_path %>"><%= t('.acryllic') %></a></li>
                        <li><a href="<%= racks_path %>"><%= t('.metal') %></a></li>
                        <li><a href="<%= mold_path %>"><%= t('.mold') %></a></li>
                        <li><a href="<%= clamshells_path %>"><%= t('.clamshells') %></a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                      <h3><%= t('.additional') %></h3>
                      <ul>
                        <li><a href="<%= moldshell_path %>"><%= t('.moldshell') %></a></li>
                        <li><a href="<%= blinks_path %>"><%= t('.lighting') %></a></li>
                        <li><a href="<%= moldshell_path %>"><%= t('.shelftalkers') %></a></li>
                        <li><a href="#"><%= t('.accessories') %></a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                      <h3><%= t('.services') %></h3>
                      <ul>
                        <li><a href="#"><%= t('.design') %></a></li>
                        <li><a href="#"><%= t('.constructing') %></a></li>
                        <li><a href="#"><%= t('.3dmodelling') %></a></li>
                        <li><a href="#"><%= t('.consulting') %></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                 <div class="footer clearfix d-none d-lg-block">
                  <h4 class="pull-right"><%= t('.acryllic') %></h4>
                  <div class="buttons pull-left"><a href="<%= acryllic_path %>" class="btn btn-light btn-sm mr-2"><i class="fa fa-tags"></i><%= t('.sales') %></a><a href="<%= catalog_path %>" class="btn btn-light btn-sm mr-2"><i class="fa fa-star-o"></i><%= t('.favorites') %></a><a href="<%= products_path %>" class="btn btn-light btn-sm mr-2"><i class="fa fa-globe"></i><%= t('.inquiry') %></a></div>
                </div>
              </div>
            </div>
            <div class="nav-item dropdown yamm-fw"><a href="<%= catalog_path %>" data-toggle="dropdown" class="nav-link dropdown-toggle"><%= t('.prods') %><b class="caret"></b></a>
              <div class="dropdown-menu">
                <div class="yamm-content">
                  <div class="row">
                    <div class="col-lg-3 d-none d-lg-inline-block"><img src="<%= asset_path 'shelf11.png' %>" alt="" class="img-fluid"></div>
                    <div class="col-sm-4 col-lg-3">
                      <h3><%= t('.catalog') %></h3>
                      <ul>
                        <li><a href="<%= gallery_path %>"><%= t('.gallery') %></a></li>
                        <li><a href="<%= catalog_path %>"><%= t('.catalog') %></a></li>
                        <li><a href="<%= products_path %>"><%= t('.products') %></a></li>
                        <li><a href="<%= products_path %>"><%= t('.prodetail') %></a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                      <h3><%= t('.contacts') %></h3>
                      <ul>
                        <li><a href="<%= contacts_path %>"><%= t('main.contacts.inqform') %></a></li>
                        <li><a href="<%= contacts_path %>"><%= t('main.contacts.social') %></a></li>
                        <li><a href="<%= contacts_path %>"><%= t('main.contacts.map') %></a></li>
                        <li><a href="<%= home_path %>"><%= t('main.home.subscription') %></a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                     <h3><%= t('.services') %></h3>
                      <ul>
                        <li><a href="<%= services_path %>"><%= t('.design') %></a></li>
                        <li><a href="<%= services_path %>"><%= t('.constructing') %></a></li>
                        <li><a href="<%= services_path %>"><%= t('.3dmodelling') %></a></li>
                        <li><a href="<%= services_path %>"><%= t('.consulting') %></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer clearfix d-none d-lg-block">
                  <h4 class="pull-right"><%= t('.shelftalkers') %></h4>
                  <div class="buttons pull-left"><a href="<%= mold_path %>" class="btn btn-light btn-sm mr-2"><i class="fa fa-tags"></i><%= t('.sales') %></a><a href="<%= catalog_path %>" class="btn btn-light btn-sm mr-2"><i class="fa fa-star-o"></i><%= t('.favorites') %></a><a href="<%= products_path %>" class="btn btn-light btn-sm mr-2"><i class="fa fa-globe"></i><%= t('.inquiry') %></a></div>
                </div>
              </div>
            </div>
            <div class="nav-item dropdown yamm-fw"><a href="<%= gallery_path %>" data-toggle="dropdown" data-hover="dropdown" class="nav-link dropdown-toggle"><%= t('.shop') %><b class="caret"></b></a>
              <div class="dropdown-menu">
                <div class="yamm-content">
                  <div class="row">
                    <div class="col-sm-6 col-lg-3">
                      <h5>Homepage</h5>
                      <ul>
                        <li><a href="<%= home_path %>">Homepage - with slideshow</a></li>
                        <li><a href="#">Homepage - with intro image</a></li>
                        <li><a href="#">Homepage - fullscreen slider <span class="badge badge-success">New</span></a></li>
                      </ul>
                      <h5><%= t('.shops') %></h5>
                      <ul>
                        <li><a href="<%= gallery_path %>"><%= t('.gallery') %></a></li>
                        <li><a href="<%= catalog_path %>"><%= t('.catalog') %></a></li>
                        <li><a href="<%= products_path %>"><%= t('.products') %></a></li>
                        <li><a href="<%= products_path %>"><%= t('.prodetail') %></a></li>
                      </ul>
                    </div>
                 
                    <div class="col-sm-6 col-lg-3" id="cart">
                      <h5><%= t('.order_process') %></h5>
                      <ul>
                        <li><a href="<%= catalog_path %>"><%= t('.sh_cart') %></a></li>
                        <li><a href="<%= new_order_path %>"><%= t('.checkout') %></a></li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <h5><%= t('.blog') %></h5>
                      <ul>
                        <li><a href="<%= posts_path %>"><%= t('.articles') %></a></li>
                        <li><a href="<%= new_post_path %>"><%= t('.post') %></a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">About <span class="badge badge-success">New</span></a></li>
                        <li><a href="<%= contacts_path %>"><%= t('.contacts') %></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /.yamm-content-->
              
              </div>
            </div>

            <div class="nav-item"><a href="<%= contacts_path %>" class="nav-link"><%= t('.contacts') %></a></div>
          </div>
        
         <div class="nav-item dropdown yamm-fw"><a href="<%= gallery_path %>" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="nav-link dropdown-toggle"><%= t('.userarea') %><b class="caret"></b></a>
              <div class="dropdown-menu">
                <div class="yamm-content">
                  <div class="row">
                    <div class="col-sm-6 col-lg-3">

        <% if !user_signed_in? %>
                              <h5>Registrations</h5>
                      <ul>
        <li><%= link_to t('.sign_up'), new_user_registration_path %></li>
        <li><%= link_to t('.log_in'), new_user_session_path %></li>
                      </ul>
                    </div>
                      <div class="col-sm-6 col-lg-3" id="cart">
                      <% else %>
                        <h5>Edit Profile</h5>
                      <ul>  
                      
                      <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li> 
                      </ul>  
                      <% end %>                  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
      </nav>
     </div>
        <!-- /.nav-collapse-->
      </div>
    </nav>
    <!-- /#navbar-->
    <!-- *** NAVBAR END ***-->



  
  <% if @cart %>
  <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
  <%= render @cart %>
  <% end %>
  <% end %>

  <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:success] %>
    </div>
  <% end %>

        <% if session[:user_id] %>
       <ul>
         <li><%= link_to 'Orders', orders_path %></li>
         <li><%= link_to 'Products', products_path %></li>
         <li><%= link_to 'Users', users_path %></li>
       </ul>
       <%= button_to 'Logout',  destroy_user_session %>
      <% end %>

  </header>


  <div class="container">
    <footer class='<% controller.controller_name %>'>
    <%= yield %>
  </div>


<div class=container>
<div class="col-lg-3 col-md-6">
              <h4><%= t('.where') %></h4>
              <p><strong>Maps</strong><br>Ukraine<br>   Kyiv Region <br>    Find on map<br>   Kyiv <br><strong><%= t('.contacts') %></strong></p><a href="<%= contacts_path %>"><%= t('.gocontacts') %></a>
              <hr class="d-block d-md-none">
            </div>
            <!-- /.col-lg-3-->
            
        
            
                            <!-- /input-group-->
            
              <hr>
              <h4>Stay in touch</h4>
              <p class="social"><a href="https://www.facebook.com/RkraftManufacturing/"><i class="fa fa-facebook-square"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
            </div>
            <!-- /.col-lg-3-->
          </div>
          <!-- /.row-->
        </div>
        <!-- /.container-->
     

 <!-- *** FOOTER END ***-->

</div>

</footer>
</body>

</html>

